AWS_ACCESS_KEY_ID= YOUR_AWS_ACCESS_KEY_ID_HERE
AWS_SECRET_ACCESS_KEY= YOUR_AWS_SECRET_ACCESS_KEY_HERE
AWS_SESSION_TOKEN= YOUR_AWS_SESSION_TOKEN_HERE
LOCAL_ENDPOINT= your-local-endpoint-here
BEDROCK_MODEL_ID= your-bedrock-model-id-here
AWS_REGION= your-aws-region-here